#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App textarea {
  background-color: #29b8f0;
  color: #000;
  font-size: 1.5em;
  font-weight: 600;
}

.App h3 {
  margin: 0;
  padding-bottom: 3rem;
  color: #ffffff6b;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}